{% extends _layout %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Easy Car Wash</h2>
    <p>Find a car washer near from you</p>

    <h5>Author</h5>
    <p>Linda Flor Gutierrez Sanchez</p>
{% endblock %}
